@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-size: 2em;
    color: #3b5998;
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #3b5998;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #8b9dc3;
}

.my-projects {
    background: url('background.jpg') no-repeat center center/cover;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-projects h1 {
    margin: 0;
    font-size: 3em;
}

.my-projects .go-back {
    display: inline-block;
    background: white;
    color: #3b5998;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.my-projects .go-back:hover {
    background: #f0f2f5;
    color: #3b5998;
}

.half-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 20px;
    margin: 20px 0;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 800px;
    margin: 20px auto;
}

.text-content {
    flex: 1 1 50%;
    padding: 20px;
}

.text-content p {
    line-height: 1.6;
}

.image-content {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .half-page {
        flex-direction: column;
    }
    
    .text-content, .image-content {
        flex: 1 1 100%;
    }
}
.caption{
    display:flex;
    align-items:center; 
    width:100%;
    justify-content:center;
}
.caption>p{
    color:#555;
    text-align: center;
}